// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 NXP
 */

/dts-v1/;

#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/phy/phy-imx8-pcie.h>
#include <dt-bindings/usb/pd.h>
#include "imx95.dtsi"

#define FALLING_EDGE			1
#define RISING_EDGE			2

#define BRD_SM_CTRL_SD3_WAKE		0x8000	/* PCAL6408A-0 */
#define BRD_SM_CTRL_PCIE1_WAKE		0x8001	/* PCAL6408A-4 */
#define BRD_SM_CTRL_BT_WAKE		0x8002	/* PCAL6408A-5 */
#define BRD_SM_CTRL_PCIE2_WAKE		0x8003	/* PCAL6408A-6 */
#define BRD_SM_CTRL_BUTTON		0x8004	/* PCAL6408A-7 */

&ele_if0 {
	memory-region = <&ele_reserved>;
};

/ {
	model = "NXP MR-NAVQ95B";
	compatible = "fsl,imx95-navqb", "fsl,imx95";

	aliases {
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port2;
		mmc0 = &usdhc1;
		mmc1 = &usdhc2;
		serial0 = &lpuart1;
	};

	chosen {
		stdout-path = &lpuart1;
		#address-cells = <2>;
		#size-cells = <2>;
		/* will be updated by U-boot when booting Xen */
		module@0 {
			bootargs = "earlycon=xen console=hvc0 loglevel=8 root=/dev/mmcblk1p2 rw rootwait";
			compatible = "xen,linux-zimage", "xen,multiboot-module";
			reg = <0x00000000 0x9e000000 0x00000000 0x2000000>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0 0x80000000>;
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&tpm6 2 4000000 PWM_POLARITY_INVERTED>;
		cooling-levels = <64 128 192 255>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux_cma: linux,cma {
			compatible = "shared-dma-pool";
			alloc-ranges = <0 0x80000000 0 0x7f000000>;
			size = <0 0x3c000000>;
			linux,cma-default;
			reusable;
		};

		vpu_boot: vpu_boot@a0000000 {
			reg = <0 0xa0000000 0 0x100000>;
			no-map;
		};

		mali_protected: mali_protected {
			reg = <0 0xa0100000 0 0x1000000>;
			no-map;
		};

		vdev0vring0: vdev0vring0@88000000 {
			reg = <0 0x88000000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@88008000 {
			reg = <0 0x88008000 0 0x8000>;
			no-map;
		};

		vdev1vring0: vdev1vring0@88010000 {
			reg = <0 0x88010000 0 0x8000>;
			no-map;
		};

		vdev1vring1: vdev1vring1@88018000 {
			reg = <0 0x88018000 0 0x8000>;
			no-map;
		};

		rsc_table: rsc-table@88220000 {
			reg = <0 0x88220000 0 0x1000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@88020000 {
			compatible = "shared-dma-pool";
			reg = <0 0x88020000 0 0x100000>;
			no-map;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};

		m7text: m7text@90000000 {
			reg = <0 0x90000000 0 0x400000>;
			no-map;
		};

                uboolspl: uboolspl@88240000 {
	                reg = <0 0x88240000 0 0x58000>;
			no-map;
                };
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "+V1.8_SW";
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "+V3.3_SW";
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VDD_SD2_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		off-on-delay-us = <12000>;
	};

	reg_usdhc3_vmmc: regulator-usdhc3 {
		compatible = "regulator-fixed";
		regulator-name = "vmmcusdhc3_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_vref_1v8: regulator-adc-vref {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_can1_stby: regulator-can1-stby {
		compatible = "regulator-fixed";
		regulator-name = "can1-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can1_en>;
	};

	reg_can1_en: regulator-can1-en {
		compatible = "regulator-fixed";
		regulator-name = "can1-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can2_stby: regulator-can2-stby {
		compatible = "regulator-fixed";
		regulator-name = "can2-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can2_en>;
	};

	reg_can2_en: regulator-can2-en {
		compatible = "regulator-fixed";
		regulator-name = "can2-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can3_stby: regulator-can3-stby {
		compatible = "regulator-fixed";
		regulator-name = "can3-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can3_en>;
	};

	reg_can3_en: regulator-can3-en {
		compatible = "regulator-fixed";
		regulator-name = "can3-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	usdhc3_pwrseq: usdhc3-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&i2c3_ioexp23 16 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		post-power-on-delay-ms = <200>;
	};

	reg_pcie0: regulator-pcie0 {
		compatible = "regulator-fixed";
		regulator-name = "M2_KEYM_PWREN_B";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c3_ioexp23 0 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		enable-active-low;
		/*
		 * This endpoint needs a clean power cycle and a long settle
		 * before PERST# is de-asserted (see fsl,ep-power-cycle on the
		 * PCIe port, which power-cycles this rail with PERST# held):
		 *  - off-on-delay-us:  minimum off time during the power cycle.
		 *  - startup-delay-us: supply-stable-to-ready time the endpoint
		 *    needs after its 3.3V rail comes up.
		 */
		off-on-delay-us = <100000>;
		startup-delay-us = <2300000>;
	};

	reg_pcie1: regulator-pcie1 {
		compatible = "regulator-fixed";
		regulator-name = "M2_KEYB_PWREN_B";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c3_ioexp23 2 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		enable-active-low;
		regulator-always-on;
	};

	reg_vana: regulator-2p8v {
		compatible = "regulator-fixed";
		regulator-name = "2P8V";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	reg_vddl: regulator-1p2v {
		compatible = "regulator-fixed";
		regulator-name = "1P2V";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	reg_cam: regulator-cam {
		compatible = "regulator-fixed";
		regulator-name = "reg_cam";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	cam24m: cam24m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "cam24m";
	};

	cm7: imx95-cm7 {
		compatible = "fsl,imx95-cm7";
		mbox-names = "tx", "rx", "rxdb";
		mboxes = <&mu7 0 1
			  &mu7 1 1
			  &mu7 3 1>;
		memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>,
				<&vdev1vring0>, <&vdev1vring1>, <&rsc_table>;
		/* cpuid and lmmid must align with SM firmware */
		fsl,cpu-id = <1>;
		fsl,lmm-id = <1>;
		fsl,startup-delay-ms = <50>;
		status = "okay";
	};

	mali_pma: protected-memory-allocator {
		 compatible = "arm,protected-memory-allocator";
		 memory-region = <&mali_protected>;
	};

};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "disabled";
};

&enetc_port1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc1>;
	phy-mode = "rgmii-id";
	status = "disabled";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&enetc_port2 {
	phy-mode = "2500base-x";
	status = "disabled";

	fixed-link {
		speed = <2500>;
		full-duplex;
	};
};

&displaymix_irqsteer {
	status = "okay";
};

&dpu {
	status = "okay";
};

/* The M7 also uses the AON.EDMA and sharing isn't supported yet in Linux */
&edma1 {
	status = "disabled";
};

&edma2 {
	dma-channels = <30>;
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can1_stby>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can2_stby>;
	status = "disabled";
};

&flexcan3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan3>;
	xceiver-supply = <&reg_can3_stby>;
	status = "disabled";
};

&flexspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi1>;
	status = "disabled";

	/* TODO co-existence with M7/M33 if even possible */

	mt35xu01gbba: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flexspi1_reset>;
		reset-gpios = <&gpio5 11 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";

	i2c3_ioexp21: i2c3-gpio@21 {
		compatible = "nxp,pcal6408";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_ioexp21>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio4>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;

		status = "okay";

		rtl8211_pme_int_b: rtl8211-pme-int-b {
			gpio-hog;
			gpios = <0 (GPIO_ACTIVE_LOW)>;
			input;
		};

		// rtl8211_phyrst_b: rtl8211-pme-int-b {
		// 	gpio-hog;
		// 	gpios = <1 (GPIO_ACTIVE_LOW  | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		/* eth_wake_int can be used for both these SJA1110 i/o depending on R552 and R580:
		 *	- WAKE_IN_OUT (wakeup)
		 *	- INT_N (interrupt)
		 * TODO: remove one resistor; INT_N recommends a pullup but WAKE_IN_OUT pulls it to ground
		 */
		eth_wake_int: eth-wake-int {
			gpio-hog;
			gpios = <2 (GPIO_ACTIVE_LOW)>;
			input;
		};

		// io_wake_int: io-wake-int {
		// 	gpio-hog;
		// 	gpios = <4 (GPIO_ACTIVE_LOW)>;
		// 	input;
		// };
	};

	i2c3_ioexp23: i2c3-gpio@23 {
		compatible = "nxp,pcal6524";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";

		// m2_keym_pwren_b: m2-keym-pwren-b {
		// 	gpio-hog;
		// 	gpios = <0 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-high;
		// };

		// m2_keym_perst_b: m2-keym-perst-b {
		// 	gpio-hog;
		// 	gpios = <1 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		// m2_keyb_pwren_b: m2-keyb-pwren-b {
		// 	gpio-hog;
		// 	gpios = <2 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-high;
		// };

		// m2_keyb_perst_b: m2-keyb-perst-b {
		// 	gpio-hog;
		// 	gpios = <3 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		m2_keyb_fcpo_b: m2-keyb-fcpo-b {
			gpio-hog;
			gpios = <4 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keyb_reset_b: m2-keyb-reset-b {
			gpio-hog;
			gpios = <5 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keyb_wdisable1_b: m2-keyb-wdisable1-b {
			gpio-hog;
			gpios = <6 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keyb_wdisable2_b: m2-keyb-wdisable2-b {
			gpio-hog;
			gpios = <7 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keym_pedet: m2-keym-pedet {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config0: m2-keyb-config0 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config1: m2-keyb-config1 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config2: m2-keyb-config2 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config3: m2-keyb-config3 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_gpio5: m2-keyb-gpio5 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_gpio6: m2-keyb-gpio6 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_gpio7: m2-keyb-gpio7 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_LOW>;
			input;
		};

		// iw612_pd_b: iw612-pd-b {
		// 	gpio-hog;
		// 	gpios = <16 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		iw612_ind_rst_wl: iw612-ind-rst-wl {
			gpio-hog;
			gpios = <17 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_ind_rst_bt: iw612-ind-rst-bt {
			gpio-hog;
			gpios = <18 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_ind_rst_15_4: iw612-ind-rst-15_4 {
			gpio-hog;
			gpios = <19 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_rst_ind: iw612-rst-ind {
			gpio-hog;
			gpios = <20 GPIO_ACTIVE_HIGH>;
			input;
		};

		iw612_wl_wake_in: iw612-wl-wake-in {
			gpio-hog;
			gpios = <21 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_bt15_4_wake_in: iw612-bt15-4-wake-in {
			gpio-hog;
			gpios = <22 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		p3h_cp_sel: p3h-cp-sel {
			gpio-hog;
			gpios = <23 GPIO_ACTIVE_HIGH>;
			/* set to CP0 */
			output-high;
		};
	};

	ptn5110_usb3: tcpc_usb3@50 {
		compatible = "nxp,ptn5110", "tcpci";
		reg = <0x50>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio4>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>; // 25 = USB_PTN5110_ALERT_B (ENET2_RD1)


		typec_con3: connector {
			compatible = "usb-c-connector";
			label = "USB1 3.0 Type C";
			power-role = "source";
			data-role = "dual";
			try-power-role = "source";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <0>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					typec_con_hs: endpoint {
						remote-endpoint = <&usb3_data_hs>;
					};
				};

				port@1 {
					reg = <1>;

					typec_con_ss: endpoint {
						remote-endpoint = <&usb3_data_ss>;
					};
				};
			};
		};
	};

	ptn5110_usb2: tcpc_usb2@51 {
		compatible = "nxp,ptn5110", "tcpci";
		reg = <0x51>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ptn5110_usb>;
		interrupt-parent = <&gpio4>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>; // 25 = USB_PTN5110_ALERT_B (ENET2_RD1)

		typec_con2: connector {
			compatible = "usb-c-connector";
			label = "USB2 2.0 Type C";
			power-role = "source";
			data-role = "dual";
			try-power-role = "source";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <0>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					typec_con_ss2: endpoint {
						remote-endpoint = <&usb2_data_ss>;
					};
				};
			};
		};
	};
};

&lpi2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c4>;
	pinctrl-1 = <&pinctrl_lpi2c4>;
	status = "okay";

	i2c4_ioexp20: i2c4-gpio@20 {
		compatible = "nxp,pcal6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&i2c3_ioexp21>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;

		status = "okay";

		can_power_en: can-power-en {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		can1_err_n: can1-err-n {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			input;
		};

		can2_err_n: can2-err-n {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_LOW>;
			input;
		};

		can3_err_n: can3-err-n {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_LOW>;
			input;
		};

		led_r: led-r {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		led_g: led-g {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		led_b: led-b {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		sw_led_out: sw-led-out {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
		};
	};
};

&i3c2 {
	i2c-scl-hz = <400000>;
	pinctrl-0 = <&pinctrl_i3c2>;
	pinctrl-1 = <&pinctrl_i3c2_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";

    p3h_hub: hub@70,236153000c2 {
		compatible = "nxp,p3h2840";
		reg = <0x70 0x236 0x3000c2>;
		#address-cells = <1>;
		#size-cells = <0>;
		assigned-address = <0x50>;

		/*
		 * Target ports placed in GPIO mode (gpio@N sub-nodes) are
		 * exposed through a single gpiochip on this node.
		 * Line map: offset 0-7 = TP0-7 SCL pin, 8-15 = TP0-7 SDA pin.
		 */
		gpio-controller;
		#gpio-cells = <2>;

		nxp,tp0145-pullup-ohms = <1000>;
		nxp,tp2367-pullup-ohms = <1000>;
		nxp,cp0-io-strength-ohms = <50>;
		nxp,cp1-io-strength-ohms = <50>;
		nxp,tp0145-io-strength-ohms = <50>;
		nxp,tp2367-io-strength-ohms = <50>;
		vcc3-supply = <&reg_tpg0>;
		vcc4-supply = <&reg_tpg1>;

		regulators {
			reg_cp0: ldo-cp0 {
				regulator-name = "ldo-cp0";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			reg_cp1: ldo-cp1 {
				regulator-name = "ldo-cp1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			reg_tpg0: ldo-tpg0 {
				regulator-name = "ldo-tpg0";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			reg_tpg1: ldo-tpg1 {
				regulator-name = "ldo-tpg1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};

		p3h_i3c2a: smbus@0 {
			reg = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;
            nxp,pullup-enable;
		};

		/*
		 * CAM connector 1 (port A) control bus -> MIPI CSI0.
		 * The camera sensor node is supplied by a camera overlay
		 * (imx95-navqb-cam0-*.dtbo).
		 */
		p3h_i3c2b: smbus@1 {
			reg = <0x1>;
			#address-cells = <1>;
			#size-cells = <0>;
            nxp,pullup-enable;
		};

		p3h_gpio: gpio@2 {
			reg = <0x2>;
			#address-cells = <1>;
			#size-cells = <0>;
            nxp,pullup-enable;
		};

		p3h_m2_bus: smbus@3 {
			reg = <0x3>;
			#address-cells = <1>;
			#size-cells = <0>;
            nxp,pullup-enable;
		};

		p3h_i3c2c: smbus@4 {
			reg = <0x4>;
			#address-cells = <1>;
			#size-cells = <0>;
            nxp,pullup-enable;
			clock-frequency = <100000>;
		};

		p3h_se_smbus: smbus@5 {
			reg = <0x5>;
			#address-cells = <1>;
			#size-cells = <0>;
            nxp,pullup-enable;
		};

		p3h_cam1_io: gpio@6 {
			reg = <0x6>;
			#address-cells = <1>;
			#size-cells = <0>;
			/* TP6 in GPIO mode: SCL = line 6, SDA = line 14.
			 * Used for CAM connector 1 (port A / csi0) reset/enable.
			 */
		};

		p3h_cam2_io: gpio@7 {
			reg = <0x7>;
			#address-cells = <1>;
			#size-cells = <0>;
			/* TP7 in GPIO mode: SCL = line 7, SDA = line 15.
			 * Used for CAM connector 2 (port B / csi1) reset/enable.
			 */
		};
	};
};

&lpuart1 {
	/* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	/delete-property/ dmas;
	/delete-property/ dma-names;
	status = "okay";
};

&lpuart7 {
	/* Lidar */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	uart-has-rtscts;
	status = "okay";
};

&lpuart4 {
	/* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8987-bt";
	};
};

&lpspi4 {
	fsl,spi-num-chipselects = <3>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi4>;
	num-cs = <3>;
	status = "okay";

	spidev0: spi@0 { //TODO triradio
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};

	sja1110_ap: ethernet-switch@1 { // SPI_HAP_SS0_N s (SPI access point)
		compatible = "nxp,sja1110a";
		reg = <1>;
		spi-max-frequency = <4000000>;
		dsa,member = <0 0>;

		ethernet-ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* Microcontroller port */
			port@0 {
				reg = <0>;
				status = "disabled";
			};

			/* TODO: TJA1120 */
			port@1 {
				reg = <1>;
				status = "disabled";
			};

			/* TODO: TJA1120 */
			port@2 {
				reg = <2>;
				status = "disabled";
			};

			/* Not used */
			port@3 {
				reg = <3>;
				status = "disabled";
			};

			port@4 {
				reg = <4>;
				label = "cpu";
				phy-mode = "2500base-x";
				ethernet = <&enetc_port2>;
				status = "okay";

				fixed-link {
					speed = <2500>;
					full-duplex;
				};
			};

			port@5 {
				reg = <5>;
				label = "trx1";
				phy-mode = "internal";
				phy-handle = <&sw1_port5_base_t1_phy>;
			};

			port@6 {
				reg = <6>;
				label = "trx2";
				phy-mode = "internal";
				phy-handle = <&sw1_port6_base_t1_phy>;
			};

			port@7 {
				reg = <7>;
				label = "trx3";
				phy-mode = "internal";
				phy-handle = <&sw1_port7_base_t1_phy>;
			};

			port@8 {
				reg = <8>;
				label = "trx4";
				phy-mode = "internal";
				phy-handle = <&sw1_port8_base_t1_phy>;
			};

			port@9 {
				reg = <9>;
				label = "trx5";
				phy-mode = "internal";
				phy-handle = <&sw1_port9_base_t1_phy>;
			};

			port@a {
				reg = <10>;
				label = "trx6";
				phy-mode = "internal";
				phy-handle = <&sw1_port10_base_t1_phy>;
			};
		};

		mdios {
			#address-cells = <1>;
			#size-cells = <0>;

			mdio@0 {
				compatible = "nxp,sja1110-base-t1-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				sw1_port5_base_t1_phy: ethernet-phy@1 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x1>;
				};

				sw1_port6_base_t1_phy: ethernet-phy@2 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x2>;
				};

				sw1_port7_base_t1_phy: ethernet-phy@3 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x3>;
				};

				sw1_port8_base_t1_phy: ethernet-phy@4 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x4>;
				};

				sw1_port9_base_t1_phy: ethernet-phy@5 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x5>;
				};

				sw1_port10_base_t1_phy: ethernet-phy@6 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x6>;
				};
			};
		};
	};
};

&mu7 {
	status = "okay";
};

&neoisp0 {
	status = "okay";
};

&netcmix_blk_ctrl {
	status = "okay";
};

&netc_blk_ctrl {
	status = "okay";
};

&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;
	status = "okay";

	ethphy0: ethernet-phy@1 {
		compatible = "ethernet-phy-id001c.c916",   /* RTL8211F */
                        "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		reset-gpios = <&i2c3_ioexp21 1 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		realtek,clkout-disable;
	};
};

&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>;
	phy-handle = <&ethphy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&enetc_port2 {
	status = "okay";
};

&netc_timer {
	status = "okay";
};

&pcie0 {
	pinctrl-0 = <&pinctrl_pcie0>;
	pinctrl-names = "default";
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	fsl,ep-power-cycle;
	reset-gpio = <&i2c3_ioexp23 1 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	vpcie-supply = <&reg_pcie0>;
	status = "okay";
};

&pcie0_ep {
	pinctrl-0 = <&pinctrl_pcie0>;
	pinctrl-names = "default";
	vpcie-supply = <&reg_pcie0>;
	status = "okay";
};

&pcie1 {
	pinctrl-0 = <&pinctrl_pcie1>;
	pinctrl-names = "default";
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	reset-gpio = <&i2c3_ioexp23 3 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	vpcie-supply = <&reg_pcie1>;
	status = "okay";
};

&pcie1_ep {
	pinctrl-0 = <&pinctrl_pcie1>;
	pinctrl-names = "default";
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	vpcie-supply = <&reg_pcie1>;
	status = "okay";
};

&dpu {
	assigned-clocks = <&scmi_clk IMX95_CLK_DISP1PIX>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-parents = <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-rates = <0>, <3000000000>, <333333333>;
};

/*
 * Camera capture pipelines (CSI0 / CSI1 -> formatter -> ISI) and the sensors
 * themselves are provided by camera overlays (imx95-navqb-cam0-*.dtbo for
 * port A, imx95-navqb-cam1-*.dtbo for port B). Port B is a CSI/DSI combo port,
 * so a camera overlay there is mutually exclusive with a display overlay.
 */

&usb2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";

	port {
		usb2_data_ss: endpoint {
			remote-endpoint = <&typec_con_ss2>;
		};
	};

};

&usb3 {
	status = "okay";
};

&usb3_dwc3 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	role-switch-default-mode = "none";
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
	status = "okay";

	port {
		usb3_data_hs: endpoint {
			remote-endpoint = <&typec_con_hs>;
		};
	};
};

&usb3_phy {
	fsl,phy-pcs-tx-deemph-3p5db-attenuation-db = <17>;
	fsl,phy-pcs-tx-swing-full-percent = <100>;
	fsl,phy-tx-preemp-amp-tune-microamp = <600>;
	fsl,phy-tx-vboost-level-microvolt = <1156>;
	fsl,phy-tx-vref-tune-percent = <100>;
	orientation-switch;
	status = "okay";

	port {
		usb3_data_ss: endpoint {
			remote-endpoint = <&typec_con_ss>;
		};
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc1>;
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-3 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
	fsl,cd-gpio-wakeup-disable;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	vmmc-supply = <&reg_usdhc3_vmmc>;
	mmc-pwrseq = <&usdhc3_pwrseq>;
	bus-width = <4>;
	keep-power-in-suspend;
	non-removable;
	status = "okay";
};

&scmi_misc {
	nxp,ctrl-ids = <BRD_SM_CTRL_SD3_WAKE	FALLING_EDGE
			BRD_SM_CTRL_PCIE1_WAKE	FALLING_EDGE
			BRD_SM_CTRL_BT_WAKE	FALLING_EDGE
			BRD_SM_CTRL_PCIE2_WAKE	FALLING_EDGE
			BRD_SM_CTRL_BUTTON	FALLING_EDGE>;
};

&wdog3 {
	fsl,ext-reset-output;
	status = "okay";
};

&scmi_iomuxc {

	pinctrl_emdio: emdiogrp {
		fsl,pins = <
			IMX95_PAD_ENET2_MDC__NETCMIX_TOP_NETC_MDC		0x57e
			IMX95_PAD_ENET2_MDIO__NETCMIX_TOP_NETC_MDIO		0x97e
		>;
	};

	pinctrl_enetc0: enetc0grp {
		fsl,pins = <
			IMX95_PAD_ENET1_TD3__NETCMIX_TOP_ETH0_RGMII_TD3		0x57e
			IMX95_PAD_ENET1_TD2__NETCMIX_TOP_ETH0_RGMII_TD2		0x57e
			IMX95_PAD_ENET1_TD1__NETCMIX_TOP_ETH0_RGMII_TD1		0x57e
			IMX95_PAD_ENET1_TD0__NETCMIX_TOP_ETH0_RGMII_TD0		0x57e
			IMX95_PAD_ENET1_TX_CTL__NETCMIX_TOP_ETH0_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET1_TXC__NETCMIX_TOP_ETH0_RGMII_TX_CLK	0x58e
			IMX95_PAD_ENET1_RX_CTL__NETCMIX_TOP_ETH0_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET1_RXC__NETCMIX_TOP_ETH0_RGMII_RX_CLK	0x58e
			IMX95_PAD_ENET1_RD0__NETCMIX_TOP_ETH0_RGMII_RD0		0x57e
			IMX95_PAD_ENET1_RD1__NETCMIX_TOP_ETH0_RGMII_RD1		0x57e
			IMX95_PAD_ENET1_RD2__NETCMIX_TOP_ETH0_RGMII_RD2		0x57e
			IMX95_PAD_ENET1_RD3__NETCMIX_TOP_ETH0_RGMII_RD3		0x57e
		>;
	};

	pinctrl_enetc1: enetc1grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x03e
			IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x03e
			IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x03e
			IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x03e
			IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x03e
			IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK	0x006
			IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x03e
			IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK	0x006
			IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x03e
			IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x03e
			IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x03e
			IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x03e
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			IMX95_PAD_PDM_CLK__AONMIX_TOP_CAN1_TX		0x39e
			IMX95_PAD_PDM_BIT_STREAM0__AONMIX_TOP_CAN1_RX	0x39e
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO25__CAN2_TX			0x39e
			IMX95_PAD_GPIO_IO27__CAN2_RX			0x39e
		>;
	};

	pinctrl_flexcan3: flexcan3grp {
		fsl,pins = <
			IMX95_PAD_CCM_CLKO3__CAN3_TX			0x39e
			IMX95_PAD_CCM_CLKO4__CAN3_RX			0x39e
		>;
	};

	pinctrl_flexspi1: flexspi1grp {
		fsl,pins = <
			IMX95_PAD_XSPI1_SS0_B__FLEXSPI1_A_SS0_B			0x3fe
			IMX95_PAD_XSPI1_SCLK__FLEXSPI1_A_SCLK			0x07e
			IMX95_PAD_XSPI1_DQS__FLEXSPI1_A_DQS			0x07e
			IMX95_PAD_XSPI1_DATA0__FLEXSPI1_A_DATA_BIT0		0x002
			IMX95_PAD_XSPI1_DATA1__FLEXSPI1_A_DATA_BIT1		0x002
			IMX95_PAD_XSPI1_DATA2__FLEXSPI1_A_DATA_BIT2		0x002
			IMX95_PAD_XSPI1_DATA3__FLEXSPI1_A_DATA_BIT3		0x002
			IMX95_PAD_XSPI1_DATA4__FLEXSPI1_A_DATA_BIT4		0x002
			IMX95_PAD_XSPI1_DATA5__FLEXSPI1_A_DATA_BIT5		0x002
			IMX95_PAD_XSPI1_DATA6__FLEXSPI1_A_DATA_BIT6		0x002
			IMX95_PAD_XSPI1_DATA7__FLEXSPI1_A_DATA_BIT7		0x002
		>;
	};

	pinctrl_flexspi1_reset: flexspi1-reset-grp {
		fsl,pins = <
			IMX95_PAD_XSPI1_SS1_B__GPIO5_IO_BIT11			0x3fe
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c4: lpi2c4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO30__LPI2C4_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO31__LPI2C4_SCL			0x40000b9e
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO32__HSIOMIX_TOP_PCIE1_CLKREQ_B		0x40000b1e
		>;
	};

	pinctrl_pcie1: pcie1grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO35__HSIOMIX_TOP_PCIE2_CLKREQ_B		0x40000b1e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX	0x31e
			IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX	0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x15fe
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x13fe
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x13fe
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x13fe
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x13fe
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x13fe
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x13fe
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x13fe
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x13fe
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x13fe
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x15fe
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			IMX95_PAD_SD2_RESET_B__GPIO3_IO_BIT7		0x31e
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			IMX95_PAD_SD2_CD_B__GPIO3_IO_BIT0		0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK				0x158e
			IMX95_PAD_SD3_CMD__USDHC3_CMD				0x138e
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0			0x138e
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1			0x138e
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2			0x138e
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3			0x138e
		>;
	};

	pinctrl_i3c2: i3c2grp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__I3C2_SCL			0x40001106
			IMX95_PAD_ENET1_MDIO__I3C2_SDA			0x40001106
		>;
	};

	pinctrl_i3c2_sleep: i3c2sleepgrp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__GPIO4_IO_BIT0			0x31e
			IMX95_PAD_ENET1_MDIO__GPIO4_IO_BIT1			0x31e
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD0__LPUART4_TX			0x31e
			IMX95_PAD_ENET2_RD0__LPUART4_RX			0x31e
			IMX95_PAD_ENET2_TD1__LPUART4_RTS_B		0x31e
			IMX95_PAD_ENET2_RD2__LPUART4_CTS_B		0x31e

		>;
	};

	pinctrl_uart7: uart7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO08__LPUART7_TX			0x31e
			IMX95_PAD_GPIO_IO09__LPUART7_RX			0x31e
			IMX95_PAD_GPIO_IO11__LPUART7_RTS_B		0x31e
			IMX95_PAD_GPIO_IO10__LPUART7_CTS_B		0x31e
		>;
	};

	pinctrl_lpspi4: lpspi4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO34__LPSPI4_PCS0		0x3fe
			IMX95_PAD_GPIO_IO33__LPSPI4_PCS1		0x3fe
			IMX95_PAD_GPIO_IO16__LPSPI4_PCS2		0x3fe

			IMX95_PAD_GPIO_IO19__LPSPI4_SIN			0x3fe
			IMX95_PAD_GPIO_IO36__LPSPI4_SOUT		0x3fe
			IMX95_PAD_GPIO_IO37__LPSPI4_SCK			0x3fe
		>;
	};

	pinctrl_i2c3_ioexp21: i2c3_ioexp21grp {
		fsl,pins = <
			IMX95_PAD_ENET2_RD3__GPIO4_IO_BIT27		0x31e
		>;
	};

	pinctrl_ptn5110_usb: ptn5110_usbgrp {
		fsl,pins = <
			IMX95_PAD_ENET2_RD1__GPIO4_IO_BIT25		0x31e
		>;
	};
};

&thermal_zones {
	a55-thermal {
		trips {
			atrip2: trip2 {
				temperature = <55000>;
				hysteresis = <2000>;
				type = "active";
			};

			atrip3: trip3 {
				temperature = <65000>;
				hysteresis = <2000>;
				type = "active";
			};

			atrip4: trip4 {
				temperature = <75000>;
				hysteresis = <2000>;
				type = "active";
			};
		};

		cooling-maps {
			map1 {
				trip = <&atrip2>;
				cooling-device = <&fan0 0 1>;
			};

			map2 {
				trip = <&atrip3>;
				cooling-device = <&fan0 1 2>;
			};

			map3 {
				trip = <&atrip4>;
				cooling-device = <&fan0 2 3>;
			};
		};
	};

	pf09-thermal {
		polling-delay = <2000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&scmi_sensor 2>;

		trips {
			pf09_alert: trip0 {
				hysteresis = <2000>;
				temperature = <140000>;
				type = "passive";
			};

			pf09_crit: trip1 {
				hysteresis = <2000>;
				temperature = <155000>;
				type = "critical";
			};
		};
	};

	pf53arm-thermal {
		polling-delay = <2000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&scmi_sensor 4>;

		cooling-maps {
			map0 {
				trip = <&pf5301_alert>;
				cooling-device =
					<&A55_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_4 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_5 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			};
		};

		trips {
			pf5301_alert: trip0 {
				hysteresis = <2000>;
				temperature = <140000>;
				type = "passive";
			};

			pf5301_crit: trip1 {
				hysteresis = <2000>;
				temperature = <155000>;
				type = "critical";
			};
		};
	};

	pf53soc-thermal {
		polling-delay = <2000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&scmi_sensor 3>;

		trips {
			pf5302_alert: trip0 {
				hysteresis = <2000>;
				temperature = <140000>;
				type = "passive";
			};

			pf5302_crit: trip1 {
				hysteresis = <2000>;
				temperature = <155000>;
				type = "critical";
			};
		};
	};
};

&mali {
	protected-memory-allocator = <&mali_pma>;
};

&gpio2 {
	status = "disabled";
};

&vpuctrl {
	boot = <&vpu_boot>;
	sram = <&sram1>;
};
