// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 NXP
 *
 * NavQ-B port B (CSI/DSI combo connector) in display mode:
 * Raspberry Pi 10.1" DSI panel (1200x1920, ILI79600A, 4-lane) with
 * ILI79600A capacitive touch. Mutually exclusive with a port B camera overlay.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	display_reg: display_reg {
		compatible = "regulator-fixed";
		regulator-name = "display_reg_1";
		gpio = <&display_mcu 0 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <50000>;
		enable-active-high;
	};

	backlight: panel_backlight@1 {
		compatible = "pwm-backlight";
		brightness-levels = <0 31>;
		num-interpolated-steps = <31>;
		default-brightness-level = <15>;
		pwms = <&display_mcu 0 200000 0>;
	};
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	dsi_panel: dsi_panel@0 {
		reg = <0>;
		compatible = "raspberrypi,dsi-10-1inch";
		power-supply = <&display_reg>;
		backlight = <&backlight>;
		status = "okay";

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&display_pixel_link {
	status = "okay";
};

&pixel_interleaver {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@0 {
		reg = <0>;
		status = "okay";
	};
};

&p3h_i3c2c {
	#address-cells = <1>;
	#size-cells = <0>;

	display_mcu: display_mcu@45 {
		compatible = "raspberrypi,touchscreen-panel-regulator-v2";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
		#pwm-cells = <3>;
		status = "okay";
	};

	ili79600a: ts@41 {
		compatible = "ilitek,ili79600a";
		reg = <0x41>;
		reset-gpio = <&display_mcu 1 GPIO_ACTIVE_LOW>;
		vcc-supply = <&display_reg>;
		touchscreen-size-x = <1200>;
		touchscreen-size-y = <1920>;
		panel = <&dsi_panel>;
		status = "okay";
	};
};
