// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
 */

/dts-v1/;

#include "imx95-navq.dtsi"

/ {
	model = "NXP X-MR-NAVQ95B";
	compatible = "fsl,imx95-navqb", "fsl,imx95";

	reg_can1_stby: regulator-can1-stby {
		compatible = "regulator-fixed";
		regulator-name = "can1-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can1_en>;
	};

	reg_can1_en: regulator-can1-en {
		compatible = "regulator-fixed";
		regulator-name = "can1-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can2_stby: regulator-can2-stby {
		compatible = "regulator-fixed";
		regulator-name = "can2-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can2_en>;
	};

	reg_can2_en: regulator-can2-en {
		compatible = "regulator-fixed";
		regulator-name = "can2-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can3_stby: regulator-can3-stby {
		compatible = "regulator-fixed";
		regulator-name = "can3-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can3_en>;
	};

	reg_can3_en: regulator-can3-en {
		compatible = "regulator-fixed";
		regulator-name = "can3-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	usdhc3_pwrseq: usdhc3-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&i2c3_ioexp23 16 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		post-power-on-delay-ms = <200>;
	};

	reg_pcie0: regulator-pcie0 {
		compatible = "regulator-fixed";
		regulator-name = "M2_KEYM_PWREN_B";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c3_ioexp23 0 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		enable-active-low;
		regulator-always-on;
	};

	reg_pcie1: regulator-pcie1 {
		compatible = "regulator-fixed";
		regulator-name = "M2_KEYB_PWREN_B";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c3_ioexp23 2 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		enable-active-low;
		regulator-always-on;
	};

	touch_reg: touch_reg {
		compatible = "regulator-fixed";
		regulator-name = "touch_reg_1";
		gpio = <&display_mcu 1 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <50000>;
		enable-active-high;
	};

	reg_vana: regulator-2p8v {
		compatible = "regulator-fixed";
		regulator-name = "2P8V";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	reg_vddl: regulator-1p2v {
		compatible = "regulator-fixed";
		regulator-name = "1P2V";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	reg_cam: regulator-cam {
		compatible = "regulator-fixed";
		regulator-name = "reg_cam";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	cam24m: cam24m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "cam24m";
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";

	i2c3_ioexp21: i2c3-gpio@21 {
		compatible = "nxp,pcal6408";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_ioexp21>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio4>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;

		status = "okay";

		rtl8211_pme_int_b: rtl8211-pme-int-b {
			gpio-hog;
			gpios = <0 (GPIO_ACTIVE_LOW)>;
			input;
		};

		// rtl8211_phyrst_b: rtl8211-pme-int-b {
		// 	gpio-hog;
		// 	gpios = <1 (GPIO_ACTIVE_LOW  | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		/* eth_wake_int can be used for both these SJA1110 i/o depending on R552 and R580:
		 *	- WAKE_IN_OUT (wakeup)
		 *	- INT_N (interrupt)
		 * TODO: remove one resistor; INT_N recommends a pullup but WAKE_IN_OUT pulls it to ground
		 */
		eth_wake_int: eth-wake-int {
			gpio-hog;
			gpios = <2 (GPIO_ACTIVE_LOW)>;
			input;
		};

		// io_wake_int: io-wake-int {
		// 	gpio-hog;
		// 	gpios = <4 (GPIO_ACTIVE_LOW)>;
		// 	input;
		// };
	};

	i2c3_ioexp23: i2c3-gpio@23 {
		compatible = "nxp,pcal6524";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";

		// m2_keym_pwren_b: m2-keym-pwren-b {
		// 	gpio-hog;
		// 	gpios = <0 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-high;
		// };

		// m2_keym_perst_b: m2-keym-perst-b {
		// 	gpio-hog;
		// 	gpios = <1 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		// m2_keyb_pwren_b: m2-keyb-pwren-b {
		// 	gpio-hog;
		// 	gpios = <2 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-high;
		// };

		// m2_keyb_perst_b: m2-keyb-perst-b {
		// 	gpio-hog;
		// 	gpios = <3 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		m2_keyb_fcpo_b: m2-keyb-fcpo-b {
			gpio-hog;
			gpios = <4 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keyb_reset_b: m2-keyb-reset-b {
			gpio-hog;
			gpios = <5 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keyb_wdisable1_b: m2-keyb-wdisable1-b {
			gpio-hog;
			gpios = <6 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keyb_wdisable2_b: m2-keyb-wdisable2-b {
			gpio-hog;
			gpios = <7 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			output-low;
		};

		m2_keym_pedet: m2-keym-pedet {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config0: m2-keyb-config0 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config1: m2-keyb-config1 {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config2: m2-keyb-config2 {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_config3: m2-keyb-config3 {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_gpio5: m2-keyb-gpio5 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_gpio6: m2-keyb-gpio6 {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_LOW>;
			input;
		};

		m2_keyb_gpio7: m2-keyb-gpio7 {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_LOW>;
			input;
		};

		// iw612_pd_b: iw612-pd-b {
		// 	gpio-hog;
		// 	gpios = <16 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		// 	output-low;
		// };

		iw612_ind_rst_wl: iw612-ind-rst-wl {
			gpio-hog;
			gpios = <17 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_ind_rst_bt: iw612-ind-rst-bt {
			gpio-hog;
			gpios = <18 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_ind_rst_15_4: iw612-ind-rst-15_4 {
			gpio-hog;
			gpios = <19 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_rst_ind: iw612-rst-ind {
			gpio-hog;
			gpios = <20 GPIO_ACTIVE_HIGH>;
			input;
		};

		iw612_wl_wake_in: iw612-wl-wake-in {
			gpio-hog;
			gpios = <21 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		iw612_bt15_4_wake_in: iw612-bt15-4-wake-in {
			gpio-hog;
			gpios = <22 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		p3h_cp_sel: p3h-cp-sel {
			gpio-hog;
			gpios = <23 GPIO_ACTIVE_HIGH>;
			/* set to CP0 */
			output-high;
		};
	};

	ptn5110_usb3: tcpc_usb3@50 {
		compatible = "nxp,ptn5110";
		pinctrl-names = "default";
		reg = <0x50>;

		interrupt-parent = <&gpio4>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>; // 25 = USB_PTN5110_ALERT_B (ENET2_RD1)

		port {
			typec_dr_sw3: endpoint {
				remote-endpoint = <&usb3_drd_sw>;
			};
		};

		typec_con3: connector {
			compatible = "usb-c-connector";
			label = "USB1 3.0 Type C";
			power-role = "source";
			data-role = "dual";
			try-power-role = "source";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <0>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					typec_con_ss3: endpoint {
						remote-endpoint = <&usb3_data_ss>;
					};
				};
			};
		};
	};

	ptn5110_usb2: tcpc_usb2@51 {
		compatible = "nxp,ptn5110";
		pinctrl-0 = <&pinctrl_ptn5110_usb>;
		pinctrl-names = "default";
		reg = <0x51>;

		interrupt-parent = <&gpio4>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>; // 25 = USB_PTN5110_ALERT_B (ENET2_RD1)

		typec_con2: connector {
			compatible = "usb-c-connector";
			label = "USB2 2.0 Type C";
			power-role = "source";
			data-role = "dual";
			try-power-role = "source";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <0>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					typec_con_ss2: endpoint {
						remote-endpoint = <&usb2_data_ss>;
					};
				};
			};
		};
	};
};

&lpi2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c4>;
	pinctrl-1 = <&pinctrl_lpi2c4>;
	status = "okay";

	i2c4_ioexp20: i2c4-gpio@20 {
		compatible = "nxp,pcal6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&i2c3_ioexp21>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;

		status = "okay";

		can_power_en: can-power-en {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		can1_err_n: can1-err-n {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			input;
		};

		can2_err_n: can2-err-n {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_LOW>;
			input;
		};

		can3_err_n: can3-err-n {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_LOW>;
			input;
		};

		led_r: led-r {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		led_g: led-g {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		led_b: led-b {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		sw_led_out: sw-led-out {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
		};
	};
};

&i3c2 {
	i2c-scl-hz = <400000>;
	pinctrl-0 = <&pinctrl_i3c2>;
	pinctrl-1 = <&pinctrl_i3c2>;
	pinctrl-names = "default", "sleep";
	status = "okay";

    hub@70,236153000c2 {
		compatible = "nxp,p3h2840";
		reg = <0x70 0x236 0x3000c2>;
		#address-cells = <1>;
		#size-cells = <0>;
		assigned-address = <0x50>;

		cp0-ldo-microvolt = <1800000>;
		cp1-ldo-microvolt = <1800000>;
		tp0145-ldo-microvolt = <1800000>;
		tp2367-ldo-microvolt = <1800000>;
		tp0145-pullup-ohm = <1000>;
		tp2367-pullup-ohm = <1000>;
		cp0-io-strength-ohm = <50>;
		cp1-io-strength-ohm = <50>;
		tp0145-io-strength-ohm = <50>;
		tp2367-io-strength-ohm = <50>;
		cp0-supply = <&cp0>;
		cp1-supply = <&cp1>;
		tp0145-supply = <&tp0145>;
		tp2367-supply = <&tp2367>;

		regulators {
			cp0: cp0 {
				regulator-name = "cp0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};

			cp1: cp1 {
				regulator-name = "cp1";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};

			tp0145: tp0145 {
				regulator-name = "tp0145";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};

			tp2367: tp2367 {
				regulator-name = "tp2367";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};
		};

		p3h_i3c2a: target-port@0 {
			reg = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;

			// --- example node ---
			// eeprom@57 {
			//     compatible = "atmel,24c32";
			//     reg = <0x57>;
			//     pagesize = <32>;
			//     wp-gpios = <&gpio2 2 0>;
			//     num-addresses = <8>;
			// };
		};

		p3h_i3c2b: target-port@1 {
			reg = <0x1>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;

			imx219: imx219@10 {
				compatible = "sony,imx219";
				reg = <0x10>;
				clocks = <&cam24m>;
				orientation = <2>;
				rotation = <180>;
				status = "okay";

				port {
					imx219_mipi_0_ep: endpoint {
						remote-endpoint = <&mipi_csi0_ep>;
						data-lanes = <1 2>;
						clock-lanes = <0>;
						clock-noncontinous;
						link-frequencies = /bits/ 64 <456000000>;

					};
				};
			};

			// ov5640_csi0: ov5640@3c {
			// 	compatible = "ovti,ov5640";
			// 	reg = <0x3c>;
			// 	clocks = <&scmi_clk IMX95_CLK_24M>;
			// 	clock-names = "xclk";
			// 	clock-frequency = <24000000>;
			// 	status = "okay";

			// 	ports {
			// 		#address-cells = <1>;
			// 		#size-cells = <0>;

			// 		port@0 {
			// 			reg = <0>;
			// 		};

			// 		port@1 {
			// 			reg = <1>;
			// 		};

			// 		port@2 {
			// 			reg = <2>;
			// 			cam_csi0_out: endpoint {
			// 				remote-endpoint = <&mipi_csi0_ep>;
			// 				data-lanes = <1 2>;
			// 				clock-lanes = <0>;
			// 			};
			// 		};
			// 	};
			// };
		};

		p3h_gpio: target-port@2 {
			reg = <0x2>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "gpio";
			pullup-enable;
		};

		p3h_m2_bus: target-port@3 {
			reg = <0x3>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;
		};

		p3h_i3c2c: target-port@4 {
			reg = <0x4>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;
			status = "okay";

			display_mcu: display_mcu@45	{
				compatible = "raspberrypi,v2-touchscreen-panel-regulator";
				reg = <0x45>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			// gt911: gt911@5d {
			// 	compatible = "goodix,gt911";
			// 	reg = <0x5d>;
			// 	AVDD28-supply = <&touch_reg>;
			// 	touchscreen-size-x = <720>;
			// 	touchscreen-size-y = <1280>;
			// 	touchscreen-x-mm = <90>;
			// 	touchscreen-y-mm = <151>;
			// 	status = "okay";
			// };

		};

		p3h_se_smbus: target-port@5 {
			reg = <0x5>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;
		};

		p3h_cam1_io: target-port@6 {
			reg = <0x6>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus"; /* HACK put in smbus to get a logic high level */
			pullup-enable;
		};

		p3h_cam2_io: target-port@7 {
			reg = <0x7>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus"; /* HACK put in smbus to get a logic high level */
			pullup-enable;
		};
	};
};

&lpuart7 {
	/* Lidar */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	uart-has-rtscts;
	status = "okay";
};

&lpuart4 {
	/* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8987-bt";
	};
};

&lpspi4 {
	fsl,spi-num-chipselects = <3>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi4>;
	num-cs = <3>;
	status = "okay";

	spidev0: spi@0 { //TODO triradio
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};

	sja1110_ap: ethernet-switch@1 { // SPI_HAP_SS0_N s (SPI access point)
		compatible = "nxp,sja1110a";
		reg = <1>;
		spi-max-frequency = <4000000>;
		dsa,member = <0 0>;

		ethernet-ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* Microcontroller port */
			port@0 {
				reg = <0>;
				status = "disabled";
			};

			/* TODO: TJA1120 */
			port@1 {
				reg = <1>;
				status = "disabled";
			};

			/* TODO: TJA1120 */
			port@2 {
				reg = <2>;
				status = "disabled";
			};

			/* Not used */
			port@3 {
				reg = <3>;
				status = "disabled";
			};

			port@4 {
				reg = <4>;
				label = "cpu";
				phy-mode = "2500base-x";
				ethernet = <&enetc_port2>;
				status = "okay";

				fixed-link {
					speed = <2500>;
					full-duplex;
				};
			};

			port@5 {
				reg = <5>;
				label = "trx1";
				phy-mode = "internal";
				phy-handle = <&sw1_port5_base_t1_phy>;
			};

			port@6 {
				reg = <6>;
				label = "trx2";
				phy-mode = "internal";
				phy-handle = <&sw1_port6_base_t1_phy>;
			};

			port@7 {
				reg = <7>;
				label = "trx3";
				phy-mode = "internal";
				phy-handle = <&sw1_port7_base_t1_phy>;
			};

			port@8 {
				reg = <8>;
				label = "trx4";
				phy-mode = "internal";
				phy-handle = <&sw1_port8_base_t1_phy>;
			};

			port@9 {
				reg = <9>;
				label = "trx5";
				phy-mode = "internal";
				phy-handle = <&sw1_port9_base_t1_phy>;
			};

			port@a {
				reg = <10>;
				label = "trx6";
				phy-mode = "internal";
				phy-handle = <&sw1_port10_base_t1_phy>;
			};
		};

		mdios {
			#address-cells = <1>;
			#size-cells = <0>;

			mdio@0 {
				compatible = "nxp,sja1110-base-t1-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				sw1_port5_base_t1_phy: ethernet-phy@1 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x1>;
				};

				sw1_port6_base_t1_phy: ethernet-phy@2 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x2>;
				};

				sw1_port7_base_t1_phy: ethernet-phy@3 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x3>;
				};

				sw1_port8_base_t1_phy: ethernet-phy@4 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x4>;
				};

				sw1_port9_base_t1_phy: ethernet-phy@5 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x5>;
				};

				sw1_port10_base_t1_phy: ethernet-phy@6 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x6>;
				};
			};
		};
	};
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can1_stby>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can2_stby>;
	status = "disabled";
};

&flexcan3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan3>;
	xceiver-supply = <&reg_can3_stby>;
	status = "disabled";
};

&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;
	status = "okay";

	ethphy0: ethernet-phy@1 {
		reg = <1>;
		eee-broken-1000t;
		reset-gpios = <&i2c3_ioexp21 1 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		realtek,clkout-disable;
	};
};

&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>;
	phy-handle = <&ethphy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&enetc_port2 {
	status = "okay";
};

&pcie0 {
	pinctrl-0 = <&pinctrl_pcie0>;
	pinctrl-names = "default";
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	reset-gpio = <&i2c3_ioexp23 1 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	vpcie-supply = <&reg_pcie0>;
	status = "okay";
};

&pcie1 {
	pinctrl-0 = <&pinctrl_pcie1>;
	pinctrl-names = "default";
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	reset-gpio = <&i2c3_ioexp23 3 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	vpcie-supply = <&reg_pcie1>;
	status = "okay";
};

&pcie1_ep {
	pinctrl-0 = <&pinctrl_pcie1>;
	pinctrl-names = "default";
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	vpcie-supply = <&reg_pcie1>;
	status = "okay";
};

&display_pixel_link {
	status = "okay";
};

&dpu {
	assigned-clocks = <&scmi_clk IMX95_CLK_DISP1PIX>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-parents = <&scmi_clk IMX95_CLK_VIDEOPLL1>;
	assigned-clock-rates = <0>, <3000000000>, <333333333>;
};

&pixel_interleaver {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@0 {
		reg = <0>;
		status = "okay";
	};
};

&neoisp0 {
	status = "okay";
};

&dphy_rx {
	status = "okay";
};

&mipi_csi0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			mipi_csi0_ep: endpoint {
				remote-endpoint = <&imx219_mipi_0_ep>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
			};
		};

		port@1 {
			reg = <1>;
				mipi_csi0_out: endpoint {
				remote-endpoint = <&formatter_0_in>;
			};
		};
	};
};

&csi_pixel_formatter_0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			formatter_0_in: endpoint {
				remote-endpoint = <&mipi_csi0_out>;
			};
		};

		port@1 {
			reg = <1>;

			formatter_0_out: endpoint {
				remote-endpoint = <&isi_in_2>;
			};
		};
	};
};

&isi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@2 {
			reg = <2>;

			isi_in_2: endpoint {
				remote-endpoint = <&formatter_0_out>;
			};
		};
	};
};

&scmi_iomuxc {
	pinctrl_i3c2: i3c2grp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__I3C2_SCL			0x40000186
			IMX95_PAD_ENET1_MDIO__I3C2_SDA			0x40000186
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD0__LPUART4_TX			0x31e
			IMX95_PAD_ENET2_RD0__LPUART4_RX			0x31e
			IMX95_PAD_ENET2_TD1__LPUART4_RTS_B		0x31e
			IMX95_PAD_ENET2_RD2__LPUART4_CTS_B		0x31e

		>;
	};

	pinctrl_uart7: uart7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO08__LPUART7_TX			0x31e
			IMX95_PAD_GPIO_IO09__LPUART7_RX			0x31e
			IMX95_PAD_GPIO_IO11__LPUART7_RTS_B		0x31e
			IMX95_PAD_GPIO_IO10__LPUART7_CTS_B		0x31e
		>;
	};

	pinctrl_lpspi4: lpspi4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO34__LPSPI4_PCS0		0x3fe
			IMX95_PAD_GPIO_IO33__LPSPI4_PCS1		0x3fe
			IMX95_PAD_GPIO_IO16__LPSPI4_PCS2		0x3fe

			IMX95_PAD_GPIO_IO19__LPSPI4_SIN			0x3fe
			IMX95_PAD_GPIO_IO36__LPSPI4_SOUT		0x3fe
			IMX95_PAD_GPIO_IO37__LPSPI4_SCK			0x3fe
		>;
	};

	pinctrl_i2c3_ioexp21: i2c3_ioexp21grp {
		fsl,pins = <
			IMX95_PAD_ENET2_RD3__GPIO4_IO_BIT27		0x31e
		>;
	};

	pinctrl_ptn5110_usb: ptn5110_usbgrp {
		fsl,pins = <
			IMX95_PAD_ENET2_RD1__GPIO4_IO_BIT25		0x31e
		>;
	};
};


