// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
 */

/dts-v1/;

#include "imx95-navq.dtsi"

/ {
	model = "NXP X-MR-NAVQ95B";
	compatible = "fsl,imx95-navqb", "fsl,imx95";

	reg_can1_stby: regulator-can1-stby {
		compatible = "regulator-fixed";
		regulator-name = "can1-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can1_en>;
	};

	reg_can1_en: regulator-can1-en {
		compatible = "regulator-fixed";
		regulator-name = "can1-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can2_stby: regulator-can2-stby {
		compatible = "regulator-fixed";
		regulator-name = "can2-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can2_en>;
	};

	reg_can2_en: regulator-can2-en {
		compatible = "regulator-fixed";
		regulator-name = "can2-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_can3_stby: regulator-can3-stby {
		compatible = "regulator-fixed";
		regulator-name = "can3-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&reg_can3_en>;
	};

	reg_can3_en: regulator-can3-en {
		compatible = "regulator-fixed";
		regulator-name = "can3-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_ioexp20 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";

	i2c3_ioexp21: i2c3-gpio@21 {
		compatible = "nxp,pcal6524";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
/*
interrupt connected to pcal6416 managed by m33
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_ioexp22>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio3>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
*/
		status = "okay";

		
	};

	ptn5110_usb3: tcpc_usb3@50 {
		compatible = "nxp,ptn5110";
		pinctrl-names = "default";
		reg = <0x50>;

		// TODO: interrupt on port ENET2_RD1 line USB_PTN5110_ALERT_B
		// interrupt-parent = <&i2c2_ioexp21>;
		// interrupts = <10 IRQ_TYPE_EDGE_FALLING>; // 10 = USB2_PTN_INT_B

		port {
			typec_dr_sw3: endpoint {
				remote-endpoint = <&usb3_drd_sw>;
			};
		};

		typec_con3: connector {
			compatible = "usb-c-connector";
			label = "USB1 3.0 Type C";
			power-role = "source";
			data-role = "dual";
			try-power-role = "source";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <0>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					typec_con_ss3: endpoint {
						remote-endpoint = <&usb3_data_ss>;
					};
				};
			};
		};
	};

	ptn5110_usb2: tcpc_usb2@51 {
		compatible = "nxp,ptn5110";
		pinctrl-names = "default";
		reg = <0x51>;

		// TODO: interrupt on port ENET2_RD1 line USB_PTN5110_ALERT_B
		// interrupt-parent = <&i2c2_ioexp21>;
		// interrupts = <10 IRQ_TYPE_EDGE_FALLING>; // 10 = USB2_PTN_INT_B

		typec_con2: connector {
			compatible = "usb-c-connector";
			label = "USB2 2.0 Type C";
			power-role = "source";
			data-role = "dual";
			try-power-role = "source";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <0>;
			self-powered;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					typec_con_ss2: endpoint {
						remote-endpoint = <&usb2_data_ss>;
					};
				};
			};
		};
	};
};

&lpi2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c4>;
	pinctrl-1 = <&pinctrl_lpi2c4>;
	status = "okay";

	i2c4_ioexp20: i2c4-gpio@20 {
		compatible = "nxp,pcal6524";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
/*
interrupt connected to pcal6416 managed by m33
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_ioexp22>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio3>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
*/
		status = "okay";

		can_power_en: can-power-en {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		led_r: led-r {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		led_g: led-g {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		led_b: led-b {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		sw_led_out: sw-led-out {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
		};
	};
};

&i3c2 {
        #address-cells = <3>;
        #size-cells = <0>;
	status = "okay";

        hub@70,236153000c2 {
		compatible = "nxp,p3h2840";
		reg = <0x70 0x236 0x3000c2>;
		#address-cells = <1>;
		#size-cells = <0>;
		assigned-address = <0x50>;

		cp0-ldo-microvolt = <1800000>;
		cp1-ldo-microvolt = <1800000>;
		tp0145-ldo-microvolt = <1800000>;
		tp2367-ldo-microvolt = <1800000>;
		tp0145-pullup-ohm = <1000>;
		tp2367-pullup-ohm = <1000>;
		cp0-io-strength-ohm = <50>;
		cp1-io-strength-ohm = <50>;
		tp0145-io-strength-ohm = <50>;
		tp2367-io-strength-ohm = <50>;
		cp0-supply = <&cp0>;
		cp1-supply = <&cp1>;
		tp0145-supply = <&tp0145>;
		tp2367-supply = <&tp2367>;

		regulators {
			cp0: cp0 {
				regulator-name = "cp0";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};

			cp1: cp1 {
				regulator-name = "cp1";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};

			tp0145: tp0145 {
				regulator-name = "tp0145";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};

			tp2367: tp2367 {
				regulator-name = "tp2367";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1800000>;
			};
		};

		p3h_i3c2a: target-port@0 {
			reg = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "i3c";
			pullup-enable;

			// --- example node ---
			// eeprom@57 {
			//     compatible = "atmel,24c32";
			//     reg = <0x57>;
			//     pagesize = <32>;
			//     wp-gpios = <&gpio2 2 0>;
			//     num-addresses = <8>;
			// };
		};

		p3h_i3c2b: target-port@1 {
			reg = <0x1>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "i3c";
			pullup-enable;
		};

		p3h_gpio: target-port@2 {
			reg = <0x2>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "gpio";
			pullup-enable;
		};

		p3h_m2_bus: target-port@3 {
			reg = <0x3>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;
		};

		p3h_i3c2c: target-port@4 {
			reg = <0x4>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "i3c";
			pullup-enable;
		};

		p3h_se_smbus: target-port@5 {
			reg = <0x5>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "smbus";
			pullup-enable;
		};

		p3h_cam1_io: target-port@6 {
			reg = <0x6>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "gpio";
			pullup-enable;
		};

		p3h_cam2_io: target-port@7 {
			reg = <0x7>;
			#address-cells = <1>;
			#size-cells = <0>;
			mode = "gpio";
			pullup-enable;
		};
	};
};

&lpuart7 {
	/* Lidar */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	uart-has-rtscts;
	status = "okay";
};

&lpuart4 {
	/* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8987-bt";
	};
};

&lpspi4 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi4>;
	pinctrl-1 = <&pinctrl_lpspi4>;
	num-cs = <3>;
	status = "okay";

	spidev0: spi@0 { //TODO triradio
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};

	sja1110_host: spi@1 { //TODO
		reg = <1>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};

	sja1110_ap: ethernet-switch@2 {
		compatible = "nxp,sja1110a";
		reg = <2>;
		spi-max-frequency = <4000000>;
		spi-cpol;
		dsa,member = <0 0>;
	};
};

// TODO update sja1110 config
//#include "imx95-navqb-sja1110.dtsi"

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can1_stby>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can2_stby>;
	status = "okay";
};

&flexcan3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan3>;
	xceiver-supply = <&reg_can3_stby>;
	status = "okay";
};

&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;
	status = "okay";

	ethphy0: ethernet-phy@1 {
		reg = <1>;
		eee-broken-1000t;
		reset-gpios = <&i2c3_ioexp21 1 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		realtek,clkout-disable;
	};
};

&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>;
	phy-handle = <&ethphy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&enetc_port2 {
	status = "okay";
};

&scmi_iomuxc {
	pinctrl_uart4: uart4grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD0__LPUART4_TX			0x31e
			IMX95_PAD_ENET2_RD0__LPUART4_RX			0x31e
			IMX95_PAD_ENET2_TD1__LPUART4_RTS_B		0x31e
			IMX95_PAD_ENET2_RD2__LPUART4_CTS_B		0x31e

		>;
	};

	pinctrl_uart7: uart7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO08__LPUART7_TX			0x31e
			IMX95_PAD_GPIO_IO09__LPUART7_RX			0x31e
			IMX95_PAD_GPIO_IO11__LPUART7_RTS_B		0x31e
			IMX95_PAD_GPIO_IO10__LPUART7_CTS_B		0x31e
		>;
	};

	pinctrl_lpspi4: lpspi4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO34__LPSPI4_PCS0	0x3fe
			IMX95_PAD_GPIO_IO33__LPSPI4_PCS1	0x3fe
			IMX95_PAD_GPIO_IO16__LPSPI4_PCS2	0x3fe
			IMX95_PAD_GPIO_IO19__LPSPI4_SIN		0x3fe
			IMX95_PAD_GPIO_IO36__LPSPI4_SOUT	0x3fe
			IMX95_PAD_GPIO_IO37__LPSPI4_SCK		0x3fe
		>;
	};
};


